[
    {
        "op": "add",
        "path": "/ACL_RULE/{{ v4_table_name }}|RULE_1",
        "value": {
            "DST_IP": "{{ ipv4_subnet }}",
            "PRIORITY": "9999",
            "PACKET_ACTION": "FORWARD"
        }
    },
    {
        "op": "add",
        "path": "/ACL_RULE/{{ v6_table_name }}|RULE_2",
        "value": {
            "DST_IPV6": "{{ ipv6_subnet }}",
            "PRIORITY": "9998",
            "PACKET_ACTION": "FORWARD"
        }
    }
]
